<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">

	<display-name>Ej_68_Servlet_Apache_Tomcat_Ejercicio0002</display-name>
	<welcome-file-list>
		<welcome-file>EntradaDatosPersona.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<description>
		</description>
		<display-name>ServletFormularioEntradaDatosPersona</display-name>
		<servlet-name>ServletFormularioEntradaDatosPersona</servlet-name>
		<servlet-class>servlet3.ServletFormularioEntradaDatosPersona</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletFormularioEntradaDatosPersona</servlet-name>
		<url-pattern>/ServletFormularioEntradaDatosPersona</url-pattern>
	</servlet-mapping>
	
</web-app>